/* style.css */
.flex-container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: dimgrey;
}
.grid-item {
    flex: 1 0 auto;
    border: 1px whitesmoke;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.btn {
    width: 90px;
    height: 90px;
}
.display-container{
    display: flex;
    align-items: center;
}
.display {
    height: 90px;
    width: 400px;
    display: flex;
    align-items: center;
    color: white;
}
#operator {
    background-color: darkolivegreen;
    color: beige;
}
#equal {
    background-color:darkgreen;
    color: beige;
}

#delete, #clear {
    background-color: olivedrab;
    color: white
}